<div class='form'>
  <form action="/" method="post" >
    <select  name="dungeon" >
      <option value ="Table Mountain" >Table Mounatain</option>
      <option value ="Final Puzzle" >Final Puzzle</option>
      <option value ="Kitchen God Cave" >Kitchen God Cave</option>
      <option value ="Scroll Cave" >Scroll Cave</option>
      <option value ="Tainted Path" >Tainted Path</option>
      <option value ="Ravine of the Dead" >Ravine of the Dead</option>
      <option value ="Ceremonial Cave" >Ceremonial Cave</option>
    </select>
    <input type="text" name="score" placeholder="Score" >
    <input type="text" name="level" placeholder="Level" >
    <input type="text" name="experience" placeholder="Experience" >
    <input type="text" name="hitpoints" placeholder="Hitpoints" >
    <input type="text" name="strength" placeholder="Strength" >
    <input type="text" name="gitans" placeholder="Gitans" >
    <input type="text" name="sword" placeholder="Sword" >
    <input type="text" name="shield" placeholder="Shield" >
    <input type="text" name="armband" placeholder="Armband" >
    <input type="checkbox" name="complete" value="true"  >
    <input type="submit" >

  </form>
</div>
<table border="1">
  <th>Dungeon</th>
  <th>Score</th>
  <th>Completed</th>
    <%  @run.each do |item|  %>
  <tr>
      <td> <p> <%= item.dungeon %></p></td>
      <td> <p> <%= item.score %></p></td>
      <td> <p> <%= item.complete ? "Yes" : "No" %></p></td>
    <% end %>
</tr>
</table>
