<!DOCTYPE html>

<html>
  <head>
  <title>Shiren The Wanderer</title>

    <link rel="stylesheet" href="/stylesheet.css"</link>
  </head>
  <body>
    <center>
      <div class='main'>
        <%= yield %>
      </div>
    </center>
  </body>

</html>
